<%= form_for @interview do |f| %>

<h1>新規面接作成</h1>

  <div class="field">
    <%= f.label :開始時間 %><br />
    <%= f.datetime_select(
        :schedule
        ) %>
  </div>
  
  <div class="actions">
    <%= f.submit "登録" %>
  </div>
<% end %>
