<h1><%= @user.username %>さんの面接一覧</h1>
<h2>現在の面接日程</h2>
<% unless @approval_interview.nil? %>
  <p><%= @approval_interview.schedule.strftime("%Y年%m月%d日 %H時%M分") %>に面接が設定されています</p>
<% end %>
<p>面接日程を変更する場合は以下から選んでください</p>
<table>
  <tbody>
    <% @interviews.each do |interview| %>
    <tr>
      <td>
        <%= link_to interview.schedule.strftime("%Y年%m月%d日 %H時%M分"),
        user_interview_approve_path(@user, interview), method: :patch,
        data: { confirm: "#{interview.schedule.strftime("%Y年%m月%d日 %H時%M分")}で面接を確定していいですか？" } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
