<h5><%= @user.username %>さんの面接時間が <%= @interviewer.username %>さんによって、以下の内容で、承認されました。</h5>

<h5>日程： <%= @interview.schedule.strftime("%Y年%m月%d日 %H時%M分")%></h5>

<h5>場所は、株式会社フィードフォースで行います。</h5>
<h5>今後の連絡は担当人事の方から再度連絡させていただきます。</h5>

<h5>よろしくお願いします。</h5>
