<p><%= @user.username %>さんの面接時間が <%= @interviewer.username %>さんによって、以下の内容で、承認されました。</p>

<p>日程： <%= @interview.schedule.strftime("%Y年%m月%d日 %H時%M分")%></p>

<p>場所は、株式会社フィードフォースで行います。</p>
<p>今後の連絡は担当人事の方から再度連絡させていただきます。</p>

<p>よろしくお願いします。</p>
